.card__like {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   height: 3rem;
   padding: 0rem 1rem;

   font-size: 1.4rem;
   background-color: var(--main-color);
   border-radius: 1rem;
   &-label {
      font-size: inherit;
      color: white;
   }
   i {
      &:hover {
         color: red;
         cursor: pointer;
      }
   }
}
